.info-face {
  display: flex;
  flex-direction: column;
}

.info-face > * {
  padding: 2%;
}

.info {
  flex: 2;
  p {
    color: $font-color;
  }
}

.info > * {
  margin-top: 3%;
}

.face {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.skill-chart {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 50vw;
  height: auto;
}

.skill img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .info-face {
    flex-direction: row;
  }

  .info {
    flex: 2;
    padding: 2%;
  }
}
