$primary-color: #23272a;
$secondary-color: #2c2f33;
$highlight-color: #e8c547;
$contrast-color: #9a031e;
$last-color: #5f0f40;
$font-color: #f4fffd;

@import "base";
@import "switch";
@import "about";
@import "navbar";
@import "portfolio";
